NavBar {
  width: 100%;
  margin-right: 47.7rem;
}

.nav-item {
  margin-left: 5rem;  
  width: 100px;
}

#container-size {
  margin-right: 47.7rem;
}

.navbar-custom {
  background-color: #2A2C64 !important;
}