#sticker-board {
  color: white;
  display: inline;
  text-align: center;
}

#sticker-elements {
  display: flex;
  margin-top: 40px;
}

#sticker-board h1 {
  padding-top: 40px;
}

#sticker-board h3 {
  margin-left: 50px;
}