#learn-box {
  background-color: #2A2C64;
  opacity: 28%;
  width: 360px;
  height: 300px;
  margin-left: 70px;
  border-radius: 45px;
  margin-top: 10px;
  margin-bottom: 20px;
}

#learn-box h3 {
  color: white;
  text-align: center;
  padding-top: 20px;
  font-size: 40px;
}

